* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav,
h2.page-section-heading {
  font-family: "Hind", sans-serif;
  letter-spacing: 2.5px;
}

p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

p.techno {
  padding-top: 17px;
  font-size: 12px;
}

nav {
  font-size: 16px;
}

a.navbar-brand {
  letter-spacing: 5px;
}

header h1 {
  font-family: "Tourney", cursive;
  font-size: 55px;
}

header h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}

div.photoHeader {
  margin-top: 60px;
}

.page-section {
  padding: 4rem 0;
}

.card {
  margin: 10px 10px;
}

.card:hover {
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.3);
}

.card-body a:hover {
  background-color: white;
  color: black;
}

div.card-img-top {
  padding: 25px;
}

section#apropos {
  border-top: 4px solid #ffc107;
}

#apropos i:hover,
#apropos a.btn-warning:hover {
  background-color: black;
  color: #ffc107;
}

input,
textarea {
  caret-color: #ffc107;
}

/* :hover effect - competences section */

#competences p.htmlLogo:hover,
#competences i.htmlLogo:hover {
  color: #f06529;
}

#competences p.cssLogo:hover,
#competences i.cssLogo:hover {
  color: #264de4;
}

#competences p.jsLogo:hover,
#competences i.jsLogo:hover {
  color: #f0db4f;
}

#competences p.sassLogo:hover,
#competences i.sassLogo:hover {
  color: #cc6699;
}

#competences p.reactLogo:hover,
#competences i.reactLogo:hover {
  color: #61dbfb;
}

#competences p.bootstrapLogo:hover,
#competences i.bootstrapLogo:hover {
  color: #563d7c;
}

#competences p.nodeLogo:hover,
#competences i.nodeLogo:hover {
  color: #3c873a;
}

#competences p.expressLogo:hover,
#competences i.expressLogo:hover {
  color: #424242;
}

#competences p.gitLogo:hover,
#competences i.gitLogo:hover {
  color: #f34f29;
}

#competences p.psLogo:hover,
#competences i.psLogo:hover {
  color: #3c327b;
}

#competences p.aiLogo:hover,
#competences i.aiLogo:hover {
  color: #fbbb4d;
}

#competences p.tsLogo:hover,
#competences i.tsLogo:hover {
  color: #007acc;
}

/* --- */

footer {
  border-top: 4px solid #ffc107;
}

footer span.text-uppercase {
  letter-spacing: 3px;
}

footer a.btn-warning:hover {
  background-color: white;
}
