/* yellow : #ffc107 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav,
h2.page-section-heading {
  font-family: "Hind", sans-serif;
  letter-spacing: 2.5px;
}

nav {
  font-size: 16px;
}

a.navbar-brand {
  letter-spacing: 6px;
}

header h1 {
  font-family: "Tourney", cursive;
  font-size: 55px;
}

header h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}

div.photoHeader {
  margin-top: 60px;
}

.page-section {
  padding: 4rem 0;
}

.card {
  margin: 10px 10px;
}

.card:hover {
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.3);
}

.card-body a:hover {
  background-color: white;
  color: black;
}

div.card-img-top {
  padding: 25px;
}

section#apropos {
  border-top: solid #ffc107;
}

#apropos i:hover,
#apropos a.btn-warning:hover {
  background-color: black;
  color: #ffc107;
}

#competences p:hover,
#competences i:hover {
  color: #ffc107;
}

footer {
  border-top: solid #ffc107;
}

footer span.text-uppercase {
  letter-spacing: 3px;
}
