/* yellow : #ffc107 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-section {
  padding: 4rem 0;
}

.card {
  margin: 10px 10px;
}

.card:hover {
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.3);
}

.card-body a:hover {
  background-color: white;
  color: black;
}

footer {
  border-top: solid #ffc107;
}
